.question{
	font-weight: bold;
}
.unchosen{
	transition: all 0.15s;
	border-style: solid ;
	border-width: 2px;
}
.chosen{
	transition: all 0.15s;
	border-style: solid  ;
	border-width: 4px;

}
.option{
	width: 100px;
	height: 50px;
	 border-radius: 25px;
	 padding-left:auto;
	 padding-right:auto;
	 margin-top:2px;
}
.text{
	font-weight: bold;
	font-size:16px;
	color:#0000ff;
	text-align: center;

}